@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* inicio: ESTILOS NUEVOS AGTRIALS V2*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #595959;
}

input[type="checkbox"]{
    width: 13px; /*Desired width*/
    height: 13px; /*Desired height*/
    margin-left: 8px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.Session{
    background: #ecf0f1;
    border-radius: 3px;
    padding: 15px;
}

.ShowField{
    font-size: 12px;
}

.Menu1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#27ae60+64,17aa55+100 */
    background: #27ae60; /* Old browsers */
    background: -moz-linear-gradient(top,  #27ae60 64%, #17aa55 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #27ae60 64%,#17aa55 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #27ae60 64%,#17aa55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#17aa55',GradientType=0 ); /* IE6-9 */

}

header {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    z-index: 999;
    position: relative;
}

.MenuTrials{
    background: #eee;
    border-radius: 3px;
    border-top-width: 0px;
    padding: 5px 0px;
    width: 200px;
    /* margin-top: 49px; */
}

.MenuTrialsButton{
    font-size:14px;
    font-weight: lighter;
    border-radius: 5px;
    width: 90%;
    margin: 5px 5%;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    background: #FFF;
}

.MenuButtonLeft{
    font-size:14px;
    font-weight: lighter;
    border-radius: 5px;
    width: 90%;
    margin: 5px 5%;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    background: #FFF;
}

.MenuTrialsButton.selected{
    color: #2A9A60;
    font-weight: bold;
}

.selected-a{
    font-weight: bold;
}

.MenuButtonLeft.selected{
    color: #2A9A60;
    font-weight: bold;
}

.Mandatory{
    color: red;
}

.MenuProcesses{
    background: #EEEEEE none repeat scroll 0 0;
    border-radius: 3px;
    border-top-width: 0px;
    top: 47px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.MenuProcessesButton{
    font-size:14px;
    font-weight: lighter;
    border-radius: 5px;
    float: left;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    background: #FFF;
}

.MenuProcessesButtonSelected{
    font-size:16px;
    color: #2A9A60;
    font-weight: lighter;
    border-radius: 5px;
    float: left;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    background: #FFF;
}

footer {
    background: #e0e0e0 none repeat scroll 0 0;
    padding: 25px 0 38px  0;
    border-top: 7px solid #dcdbdb;
    margin-top: 30px;
}
.FooterContainer {
    color: #5a5a5a;
}
.FooterPartners {
    background: #FFFFFF;
    padding: 10px 0px;
    text-align: center;
}

.page-header{
    height: 45px;
}

.TotalResults{
    color: #777777;
    font-size:18px;
}

.navbar{
    margin-bottom: 5px;
}


.TableModule {
    border-collapse: separate;
    border-spacing:  10px !important;
    padding-left: 5px;
}

.Title{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px !important;
    padding-left: 10px;
    color: #595959;
}

.Title0{
    margin-bottom: 5px !important;
}

.sf_admin_form{

}

.Title1{
    font-size: 14px;
    font-weight:bold;
    padding-left: 12px;
}

.Line{
    background-color: #595959;
    height: 3px; 
    border: 0px;
}

.LineModule{
    background-color: #595959;
    height: 2px; 
    border: 0px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 0px;
}

.LogoAgTrias{
    color: #27AE60;
    font-size: 4.3em;
    font-weight: 300;
    float: left;
    width: 20%;
}

.LogoNombre{
    color: #7f8c8d;
    font-size:20px;
    float: left;
    width: 25%;
    position: relative;
    top: 20px;
}

.LogoCCAFS{
    float: right;
    width: 30%;
    height: 100px;
    text-align:right;
    margin: 5px 0;
}

.MenuPPl{}

.MenuPPlOpc{
    font-size: 1.2em;
    Color: #fff;
    font-weight: 300;
    float: left;
    position: relative;
    padding: 15px 2.5%;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.MenuPPlOpc.selected{background: rgba(0, 0, 0, 0.1);box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);}

.MenuPPlOpcUser{
    color: #FFF;
    font-size:16px;
    float: right;
    width: 200px;
    height: 50px;
    position: relative;
    padding-top: 10px;
    text-align: center;
}

.HomePart1{
    background: #ecf0f1;
}

.HomeButtons{
    margin: 30px 0 24px 0;
    margin-left: auto;
    margin-right: auto;
}

.HomeButton{
    font-size:16px;
    color: #16a085;
    font-weight: lighter;
    float: left;
    width: 31%;
    margin: 4px 1.1%;
    text-align: center;
    cursor: pointer;
}

.HomeButton .button{

    background: #fff;

    padding: 18px 0px;

    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);

    border-radius: 3px;

    margin-bottom: 5px;
}

.HomeButtonText{
    font-size:14px;
    Color: #7f8c8d;
    font-weight: lighter;
    font-style: italic;
}

.HomePart2{
    margin: 14px 0;
}

.HomePart2Div{
    float: left;
    width: 45%;
    height: 250px;
    padding-top: 25px;
    text-align: center;
}

.HomePart2Map{
    float: right;
    width: 51%;
    text-align: right;
    height: 247px;
}

.HomeTit{
    color: #34495e;
    font-size:28px;
    font-style: italic;
    text-align: center;
}

.WhatAgTrialsTex{
    font-size:14px;
    color: #777777;
    text-decoration: none;
    text-align: justify;
}

.HomePart3{
    background: #ecf0f1 none repeat scroll 0 0;
    padding: 20px 0 38px 0;
}

.HomePart31 {
    text-align: center;
}

.HomeBoxs{
    text-align: center;
    padding-top: 12px;
}

.HomeBox{
    color: #FFF;
    font-size:14px;
    width: 30%;
    padding: 24px;
    margin: 1%;
    text-align: center;
    cursor: pointer;
    background: #2C3E50;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.HomePart4{
    padding: 0 0 25px 0;
}

.HomePart41 {
    /* width: 915px; */
    padding-top: 12px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* text-align: center; */
}

.LatestTrials{
    color: #777777;
    font-size:14px;
    float: left;
    width: 48.5%;
    height: 70px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    background: #ECF0F1;
    border-radius: 1px;
    position: relative;
}

.NameTrial{
    color: #556363;
    text-align: left;
    font-size:14px;
    font-weight: bold;
}

.DateLocationTrial{
    Color: #7f8c8d;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.IconTrial{
    position: absolute;
    right: 8px;
    top: 7px;
}

/*   About   */
.AboutTextoTit{
    color: #595959;
    font-size:14px;
    font-weight: bold;
    text-align: left;
    padding-top: 15px; 
    margin-left: 15px;
}

.AboutTextoGrl{
    color: #595959;
    font-size:14px;
    text-align: left;
    margin-left: 15px;
}

.AboutLine{
    background-color: #595959;
    height: 2px; 
    border: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
}


.DivName{
    vertical-align:middle;
    text-align: center; 

}

.DivNotice{
    padding: 10px;
    font-size: 13px;
    color: red;
    font-weight:bold;
}

.BotonAcciones{
    height: 50px;
    padding: .5em;
    bottom: 20px;
    position: fixed;
    z-index: 99;
    font-size: 13px;
    text-align: left;
}


.MenuTrial {
    background-color: #EEEEEE;
    border-left: 0px solid #48732A;
    border-right: 0px solid #48732A;
    border-top: 0px solid #48732A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0px solid #48732A;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 200px;
    height: 250px;
    padding-left: 6px; 
    padding-top: 6px; 
    padding-bottom: 6px;
    margin-left: 50px;

}


.MenuFlotante {
    background-color: #EEEEEE;
    border-left: 1px solid #48732A;
    border-top: 1px solid #48732A;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #48732A;
    border-bottom-left-radius: 4px;
    bottom: 30px;
    font-size: 13px;
    max-height: 99vh;
    opacity: 0.8;
    overflow: auto;
    position: fixed;
    right: 0;
    width: 210px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 999;
    padding-left: 6px; 
    padding-top: 6px; 
    padding-bottom: 6px;
}

.MenuFlotante a{
    color: #48732A;
    text-decoration:none;
}

.MenuFlotante a:hover{
    color: #48732A;
    font-weight:bold;
    background-color: #D6D6D6;
    text-decoration:none;
    border-radius: 4px;
    padding-left: 5px; 
    padding-right: 5px;
}


.BotonAccionesFijo{ 
    /*position:absolute;*/
    font-size: 13px;
    text-align: left;
}

.Button-Action-Down {
    height:auto; 
    width:auto;
    font-weight: bold;
    color: #444444;
    text-align: left;
}

.Span-Action-Link {
    height:auto; 
    width:auto;
    font-weight: bold;
    color: #6D8D2D;
    text-align: left;
    cursor: pointer;
}

.DivListSelect {
    width:99.6%;
    max-height: 200px;
    position:relative;
    overflow-y: scroll;
    border: solid 2px #C0C0C0;
}

.DivDataCrop{
    border-width: 0px;
    overflow:hidden;
}


.FilaLista:hover{
    background-color: #D0E2B7;
}


.TrTable{
    height:35px;
}

table, tr, td {
    text-align: left;
}

input, textarea, select {
    padding: 3px;
    border: solid 2px #c9c9c9;
}

.SearchInput {
    padding: 3px;
    background: url(/images/input-search.png) no-repeat 4px 8px; 
    padding-left: 25px;
    background-color: #FFFFFF;
}

.DateInput {
    padding: 3px;
    border: solid 1px #c9c9c9;
    background: url(/images/calendar-icon.png) no-repeat 4px 8px; 
    outline:0; 
    padding-left: 25px;
    background-color: #FFFFFF;

}

.EmailInput {
    padding: 3px;
    border: solid 1px #c9c9c9;
    background: url(/images/Mail-icon.png) no-repeat 4px 8px; 
    outline:0; 
    padding-left: 25px;
    background-color: #FFFFFF;

}

.PhoneInput {
    padding: 3px;
    border: solid 1px #c9c9c9;
    background: url(/images/phone-icon.png) no-repeat 4px 8px; 
    outline:0; 
    padding-left: 25px;
    background-color: #FFFFFF;

}

#ErrorEmailAddress {
    border:0px solid #87B6D9;
    font-size:11px;
    color:red;
}
#CodeError{
    border:0px solid #87B6D9;
    font-size:12px;
    color:red;
}

.CodeBox{
    background-image:url('/images/backgrounds/bg3.jpg');
    background-repeat:no-repeat;
    width:100px;
    text-align: center;
    font-size: 18pt;
    color:red;
    font-weight:bold;
    background-color: #FFFFFF;
    height: 33px;

}

/* fin: ESTILOS NUEVOS AGTRIALS V2*/

.ui-widget-header{
    background: #BAC960;
    border: 1px solid #819E6D;
}

.DivRow {
    margin-right: -15px;
    margin-left: -15px;
    height: 50px;
}
.DivRow-2 {
    margin-right: -15px;
    margin-left: -15px;
    width: 1000px;
}

.DivColIcon {
    padding-top: 5px;
    width: 8.33333333%;
    float: left;
}

.RowDownloadTemplate{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

.DownloadTemplate{
    background: #fff;
    width: 150px;
    height: 100px;
    padding-top: 5px;
    font-weight: lighter;
    float: left;
    margin: 10px 25px;
    text-align: center;
    cursor: pointer;
}

/* Footer Logos*/
.partner-logo {
    width: 8.5%;
    display: inline-block;
}

.partner-logo img{
    width: 100%;
}

.our-partners-title {
    color: #34495e;
    font-weight: bold;
    text-align: left;
}

/* Trial subMenu */

ul.subMenu {
    padding: 3px 0 0 9px;
    text-align: left;
}

ul.subMenu li{
    text-decoration: none;
    font-weight: lighter;
    list-style: none;
    font-size: 0.9em;
    line-height: 1.65em;
}
ul.subMenu li a{

    color: #93c47d;
}


.left-column {
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 49px;
}

.positionFixedTop {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 198px;
}

/*ESTILO PARA LAS GRAFICAS DE D3JS*/
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}


.introjs-tooltip {
    max-width: 600px !important;
}